#!/bin/sh
set -e

if [ -z "$1" ]; then
    echo "No user home path provided" >&2
    exit 1
fi

export ASDF_DIR="$1/.asdf"
export PATH="$ASDF_DIR/bin:$ASDF_DIR/shims:$PATH"

if [ ! -d "$ASDF_DIR" ]; then
    echo "ASDF_DIR '$ASDF_DIR' does not exist" >&2
    exit 1
fi
